@import "variables";
@import "mixins";
@import "buttons";
@import "grid";
@import "forms";

.btn {
    margin: 15px;
}
.board {
    width: 300px;
    margin: auto auto;
}
.board .header, .board .footer, .settings {
    margin: auto auto;
    text-align: center;
    font-size: 28px;
}
.board .footer {
    margin-top: 15px;
}
.board .row {
    width: 300px;
    height: 100px;
}
.cell {
    width: 33.3%;
    height: 100%;
    background: white;
    outline: solid 2px grey;
    display: inline-block;
    float: left;
}
.cell .fa {
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fa-circle-o {
    z-index: 1;
}
.fa-times {
    z-index: 2;
}
.href {
    cursor: pointer;
}
.player {
    font-size: 100px;
    text-align: center;
    padding-bottom: 20px;
}
.hover {
    background: grey;
}

.settings {
    margin-top: 100px;
}

.player-settings {
}

.player-settings input {
    width: 85%;
    margin: auto auto;
}
#performance-bar {
    width: 300px;
    height: 10px;
    margin: auto auto;
}

.player-performance-bar {
    height: 15px;
    display: inline-block;
    float: left;
}
