alias va='vi .aliases'
alias sa='source .aliases'
alias make='python manage.py makemigrations'
alias migrate='python manage.py migrate'
alias shell='python manage.py shell_plus'
alias reset='python manage.py reset_db'
alias push='git push origin master'
alias pull='git pull origin master'
alias activate='source env/bin/activate'
alias server='python manage.py runserver'
alias test='python manage.py test'
