
body {
    font-family: 'Lato', Arial !important;
}
.btn {
    margin: 15px;
}
.board {
    margin: 0 auto;
    float: none;
}
.board .header, .board .footer, .settings {
    margin: auto auto;
    text-align: center;
    font-size: 28px;
}
.board .footer {
    margin-top: 15px;
    padding-bottom: 35px;
}
.board .row {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    float: none;
}
.cell {
    width: 33.3%;
    height: 100%;
    background: white;
    outline: solid 2px grey;
    display: inline-block;
    float: left;
}
.cell .fa {
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fa-circle-o {
    z-index: 1;
}
.fa-times {
    z-index: 2;
}
.href {
    cursor: pointer;
}
.player {
    font-size: 100px;
    text-align: center;
    padding-bottom: 20px;
}
.hover {
    background: grey;
}

.settings {
    margin-top: 20px;
}

.player-settings {
}

.player-settings input {
    width: 85%;
    margin: auto auto;
}
#performance-bar {
    width: 300px;
    height: 15px;
    margin: auto auto;
}

.player-performance-bar {
    height: 100%;
    display: inline-block;
    float: left;
}
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: url('../images/tiny_grid.png');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.navbar-default {
    background: #313139;
}
.navbar-default .navbar-nav > li > a {
    color: #e2e2e2 !important;
}
.navbar-default .navbar-nav > li > a:hover {
}
.no-margin {
    margin: 0 !important;
}
